<% include partials/header %>

<div class='ui center aligned grid container'>
    <div class='body center floated left aligned ten wide column'>
        <form class="ui form" action='/blogs' method='POST'>
          <div class='ui raised segment new'>
            <span class='ui header large'>New Post</span>
            <div class="field">
              <label>Title</label>
              <input type="text" name="blog[title]" placeholder="Blog title">
            </div>
            <div class="field">
              <label>Image URL</label>
              <input type="text" name="blog[image]" placeholder="Image URL">
            </div>
            <div class="field">
              <label>Short Text</label>
              <textarea rows="3" name="blog[body]" placeholder='Write your story here'></textarea>
            </div>
          </div>
          <button class="ui bottom raised attached button primary" type="submit">Submit</button>
        </form>
    </div>
</div>

<% include partials/footer %>